<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link href="css/StyleSheet.css" rel="stylesheet" />
    <!--<link href="lib/ionic/css/ionic.css" rel="stylesheet">-->
    <!--<link href="css/bootstrap.min.css" rel="stylesheet" />-->
</head>
<body>
    <div id="wrapper">
        <div id="settings">
            <h1> <a class="backButton" href="index.html"></a>Settings</h1>
            <form name="form" novalidate saveBeforeExit>
                <div><img id="imgAvatar" ng-src="{{settings.avatar}}" src="images/Avatars/default-avatar.png" style="height:100px; " /></div>
                <div>
                    <label>Avatar</label>

                    <select id="selAvatar" ng-model="settings.avatar">
                        <option id="" value="images/Avatars/default-avatar.png">Select Avatar</option>
                        <option value="images/Avatars/clown_256.png">clown</option>
                        <option value="images/Avatars/guard_256.png">guard</option>
                        <option value="images/Avatars/guide_256.png">guide</option>
                        <option value="images/Avatars/king_256.png">king</option>
                        <option value="images/Avatars/librarian_256.png">librarian</option>
                        <option value="images/Avatars/piracy_256.png">piracy</option>
                        <option value="images/Avatars/spyware_256.png">spyware</option>
                        <option value="images/Avatars/technical_256.png">technical</option>
                        <option value="images/Avatars/user_256.png">user</option>
                        <!--<option value="https://graph.facebook.com/{{settings.facebookid}}/picture?type=normal">facebook</option>
                        <option id="optGravatar" value="{{gravatarUrl}}">gravatar</option>-->
                    </select>

                </div>
                <div>
                    <label>Name</label>
                    <input id="txtName" type="text" placeholder="Name" ng-model="settings.name" />
                </div>
                <div>
                    <label>Email</label>
                    <input id="email" type="text" placeholder="Email" ng-model="settings.email" />
                </div>
                <div>
                    <label>Facebook</label>
                    <!--<input id="btnFacebook" onclick="window.location.href = 'Login.html';" type="button" value="Log in" />-->
                    <div id="btnFacebookLogIn" class="smallButton" ng-show="!isLoggedIn" ng-click="loginFacebook();" style="background-image: url('images/ButtonFacebook.png'); ">
                        Log in
                    </div>
                    <div id="btnFacebookLogOut" class="smallButton" ng-show="isLoggedIn" ng-click="logoutFacebook();" style="background-image: url('images/ButtonFacebook.png'); ">
                        Log out
                    </div>
                </div>


            </form>
            <div>
                <label></label>
                <button id="btnSave" class="button-block"  style="margin:20px 0 5px 0;">Save</button>
            </div>
            <div>
                <label></label>
                <button id="btnDeleteData" class="button-block" style="margin:20px 0 5px 0;" ng-click="deleteData();">Delete All</button>
            </div>
            <div>
                <label></label>
                <div>
                    ID <span id="userId">123456</span>
                </div>
            </div>
        </div>


    </div>
    <script src="js/fastclick.js"></script>
    <script>
        if ('addEventListener' in document) {
            document.addEventListener('DOMContentLoaded', function () {
                FastClick.attach(document.body);
            }, false);
        }
    </script>
    <script src="js/Settings.js"></script>
    <script>
        var populate = function () {
            var settings = new Settings();

            var txtName = document.querySelector("#txtName");
            txtName.value = settings.settings.name;

            var email = document.querySelector("#email");
            email.value = settings.settings.email;

            var imgAvatar = document.querySelector("#imgAvatar");
            imgAvatar.src = settings.settings.avatar;

            var userId = document.querySelector("#userId");
            userId.innerHTML = settings.settings.id;

            var btnDeleteData = document.getElementById("btnDeleteData")
            btnDeleteData.addEventListener("click", function () { deleteData(); });

            var btnSave = document.getElementById("btnSave")
            btnSave.addEventListener("click", function () { save(); });



            //var btnBack = document.getElementById("btnBack")
            //btnBack.addEventListener("click", function () { save(); });

            //avatar drop down
            var selAvatar = document.querySelector("#selAvatar");
            selAvatar.addEventListener("change", function (e) {
                var imgAvatar = document.querySelector("#imgAvatar");
                imgAvatar.src = selAvatar.value;
            });
            //add facebook image
            var option = new Option('facebook', settings.getFaceBookImage());
            selAvatar.options.add(option);

            //add gravatar image
            var option = new Option('gravatar', settings.get_gravatar(settings.settings.email, 100));
            selAvatar.options.add(option);

            var option = document.querySelector('option[value="' + settings.settings.avatar + '"]');
            if (option) option.selected = true;


            //facebook button
            var btnFacebookLogIn = document.getElementById("btnFacebookLogIn");
            btnFacebookLogIn.addEventListener("click", function () { fbLogIn(); });

            var btnFacebookLogOut = document.getElementById("btnFacebookLogOut");
            btnFacebookLogOut.addEventListener("click", function () { fbLogOut(); });

            if (settings.settings.facebooktoken)
                btnFacebookLogIn.style.display = 'none';

            if (!settings.settings.facebooktoken)
                btnFacebookLogOut.style.display = 'none';

        };


        var save = function () {
            var settings = new Settings();

            var txtName = document.querySelector("#txtName");
            settings.settings.name = txtName.value;
            var email = document.querySelector("#email");
            settings.settings.email = email.value;
            var selAvatar = document.querySelector("#selAvatar");
            settings.settings.avatar = selAvatar.value;

            settings.save();
        }
        var fbLogIn = function () {
            window.location = "login.html";
        }
        var fbLogOut = function () {
            var settings = new Settings();
            settings.settings.avatar = 'images/Avatars/default-avatar.png';
            settings.settings.facebooktoken = null;
            settings.save();
            window.location = "index.html";
        }
        var deleteData = function () {
            if (typeof navigator.notification != 'undefined') {
                navigator.notification.confirm("This will delete all your data.  Are you sure?", function (i) {
                    if (i == 1) {
                        var settings = new Settings();
                        settings.reset();
                        settings.save();
                        populate();
                        window.location = "index.html";
                    }
                }, "Delete", ['Yes', 'No']);
            } else if (typeof confirm != 'undefined') {
                if (confirm("This will delete all your data.  Are you sure?")) {
                    var settings = new Settings();
                    settings.reset();
                    settings.save();
                    populate();
                    window.location = "index.html";
                }
            }
        }
        //window.addEventListener("unload", function () {
        //    save();
        //});
        window.addEventListener("beforeunload", function () {
            save();
        });
        window.addEventListener("pagehide", function () {
            save();
        });
        window.addEventListener("DOMContentLoaded", function () {
            populate();
        });

    </script>
</body>
</html>
