html, body {
    background-color: white;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    xbackground-image: url('../images/wood.jpg');
    xbackground: url(images/518164-backgrounds.jpg);
    background-size: cover;
    xbackground-color: lightgray;
    height: 100%;
    xcolor: white;
    background: #4A93EF;
      color:white;
    xbackground: linear-gradient(#B9DFF6, #4A93EF);
    font-family: Arial, Helvetica, sans-serif;
}
/*removes the 300ms delay*/
html {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}
a[href], button {
    -ms-touch-action: none; /* IE10 */
    touch-action: none; /* IE11 */
    cursor:pointer;
}
/*fix view port in wp8*/
@-webkit-viewport{width:device-width}
@-moz-viewport{width:device-width}
@-ms-viewport{width:device-width}
@-o-viewport{width:device-width}
@viewport{width:device-width}
#wrapper {
    max-width: 700px;
    margin: 0 auto;
}

#menu {
    padding: 10px 15px;
    text-align: center;
    max-width: 350px;
    margin: 0px auto;
}

    #menu h1 {
        margin: 10px 10px;
        color: white;
        text-shadow: 2px 2px #000000;
        xfont-family: 'Crimson Text', Georgia, Times, serif;
    }

    #menu .king {
        margin: 10px 10px 10px 10px;
    }

    #login {
    padding: 10px 15px;
    text-align: center;
    max-width: 400px;
    margin: 0px auto;
    color:white;
}

    #login h1 {
        margin: 10px 10px;
        color: white;
        text-shadow: 2px 2px #000000;
        xfont-family: 'Crimson Text', Georgia, Times, serif;
    }

 #login .loginMenu{
      margin: 100px 0px;
 }
 
  #login .skipLogin{
      text-align:center; margin:50px auto 0px auto; clear:both;
 }

.PreGame #preGame {
    display: block;
}

#preGame {
    display: none;
}

.PreGame #game {
    display: block;
}

.PreGame #endGame {
    display: none;
}

.RoundInProgress #game {
    display: block;
}

.RoundEnd #game {
    display: block;
}

.GameOver #game {
    xdisplay: none;
}

.RoundInProgress #endGame {
    display: none;
}

.RoundEnd #endGame {
    display: none;
}

.GameOver #endGame {
    display: block;
}

#players {
    width: 100%;
    box-sizing: border-box;
    clear: both;
    padding: 5px 10px 200px 10px;
}

.player {
    width: 47%;
    min-width: 130px;
    max-width: 200px;
    height: 40px;
    xborder: 1px solid black;
    display: inline-block;
    background-color: lightskyblue;
    background-color: #C4E8FF;
    color:black;
    clear: both;
    margin: 3px 3px;
    transition: visibility 0s, opacity 1.0s linear;
}

    .player.localPlayer {
        background-color: aliceblue;
    }

    .player .playerOffer {
        margin: 0 0 0 40px;
        text-align: center;
        font-size: 16pt;
        font-weight: bold;
        padding: 7px 7px;
    }

    .player .playerImg {
        float: left;
        width: 40px;
        height: 40px;
        background-color: white;
        margin: 0 10px 0 0;
    }

    .player .playerName {
        padding: 3px 0px 1px 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: clip;
    }

    .player.isBooted {
        opacity: 0.1;
        xdisplay: none;
    }

.PreGame .player .playerOffer {
    display: none;
}

.RoundInProgress .player .playerOffer {
    display: none;
}

.RoundEnd .player .playerName {
    display: none;
}

.RoundEnd .player .playerGold {
    display: none;
}

.GameOver .player .playerOffer {
    display: none;
}


.RoundEnd .player .playerOffer {
}

#game {
}

#top {
    xposition: absolute;
    xwidth: 100%;
    xtop: 0;
    xbottom: 250px;
    xbackground-color: cornflowerblue;
    padding: 10px 10px 10px 10px;
}

#kingprogress {
    width: 100%;
    margin: 0 0;
    background-color: #eee;
    clear: both;
}

progress {
    -webkit-appearance: none;
    appearance: none;
    height: 5px;
}

    progress[value]::-webkit-progress-bar {
        background-color: #eee;
        border-radius: 2px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
    }

#kingBox {
    height: 120px;
    width: 100px;
    float: left;
}

#message {
    margin: 0 0 10px 120px;
    padding: 10px 10px 10px 15px;
}

#messageTitle {
    font-size: 1.17em;
    margin: 3px 0px 5px 0px;
}

#messageDetails {
    margin: 3px 0px 3px 0px;
}

.king {
    display: inline-block;
    height: 100px;
    width: 100px;
    xbackground-image: url('http://webhostinggeeks.com/blog/wp-content/uploads/2013/08/panda.king_.jpg');
    background-image: url('../images/Kings/1014432_small.png');
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center bottom;
}

    .king.wave {
        background-image: url('../images/Kings/3433600_small.png');
    }

    .king.awe {
        background-image: url('../images/Kings/1221988_small.png');
    }

    .king.confussed {
        background-image: url('../images/Kings/3433593_small.png');
    }

    .king.confussed {
        background-image: url('../images/Kings/3433593_small.png');
    }

    .king.happy {
        background-image: url('../images/Kings/3433598_small.png');
    }

    .king.mad {
        background-image: url('../images/Kings/1221914_small.png');
    }

    .king.surprised {
        background-image: url('../images/Kings/3433596_small.png');
    }

    .king.neutral {
        background-image: url('../images/Kings/1014432_small.png');
    }

    .king.tired {
        background-image: url('../images/Kings/1221986_small.png');
    }


div.king:active {
    background-image: url('../images/Kings/1221988_small.png');
}


#countDown {
    xtext-align: center;
    xpadding: 10px 10px 20px 10px;
    xfont-size: 3em;
}

#localPlayerDashboard {
    clear: both;
    background-color: aliceblue;
    color:black;
    padding: 10px 10px;
    position: fixed;
    left: 0;
    right: 0;
    xheight: 250px;
    bottom: 0px;
    text-align: center;
}


    #localPlayerDashboard #controls {
        display: none;
        text-align: center;
    }

.RoundInProgress #localPlayerDashboard #controls {
    display: block;
}

    .RoundInProgress #localPlayerDashboard #controls #localOffer {
        animation: highlight 1s;
    }

.RoundInProgress #localPlayerDashboard.isBooted #controls {
    display: none;
}

#localPlayerDashboard #preGame {
    display: none;
    text-align: center;
}

.PreGame #localPlayerDashboard #preGame {
    display: block;
}

#localPlayerDashboard #lost {
    display: none;
}

.RoundInProgress #localPlayerDashboard.isBooted #lost {
    display: block;
}

.RoundEnd #localPlayerDashboard.isBooted #lost {
    display: block;
}

#localPlayerDashboard #gameOver {
    display: none;
}

.GameOver #localPlayerDashboard #gameOver {
    display: block;
}


.PreGame #endGame {
    display: none;
}



#localPlayerDashboard #localGold {
    font-weight: bold;
    font-size: 2em;
}

#localPlayerDashboard #localOffer {
    font-weight: bold;
    font-size: 2em;
    xbackground-color: white;
    xborder: 1px solid black;
    xpadding: 0px 5px;
    xbackground-color: yellow;
}

#endGame {
    padding: 10px 10px;
}

.gamerTag {
    xpadding: 5px 5px 5px 5px;
    margin: 5px 0px;
    height: 75px;
    xbackground-color: #222222;
    background: rgba(0,0,0,0.5);
    xbackground: rgb(71, 138, 37);
    text-align: left;
    text-decoration: none;
    color: #ffffff;
    box-sizing: content-box;
    border-radius: 5px;
}

    .gamerTag a {
        text-decoration: none;
        color: #ffffff;
    }

    .gamerTag .gamerTagImage {
        width: 75px;
        vertical-align: top;
        float: left;
        clear: both;
    }

    .gamerTag img.miniIcon {
       width: 13px;
    height: 13px;
        margin-right: 10px;
    }

    .gamerTag div.title {
        padding: 5px 0 5px 90px;
        font-size: 22px;
        text-decoration: none;
    }

    .gamerTag div.description {
       padding: 1px 15px 2px 90px;
        xvertical-align: top;
        font-size: 12px;
    }
     .gamerTag div.description span {
       
    }

/*http://ilikepixels.co.uk/drop/bubbler/*/
.bubble {
    position: relative;
    xmargin: 0 0 0 120px;
    padding: 10px;
    background: #FFFFFF;
    color:black;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: #7F7F7F solid 2px;
    min-height: 70px;
}

    .bubble:after {
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 15px 15px 15px 0;
        border-color: transparent #FFFFFF;
        display: block;
        width: 0;
        z-index: 1;
        left: -15px;
        top: 15px;
    }

    .bubble:before {
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 16px 16px 16px 0;
        border-color: transparent #7F7F7F;
        display: block;
        width: 0;
        z-index: 0;
        left: -18px;
        top: 14px;
    }



#howToPlay {
    text-align: center;
    padding: 10px 10px;
}

    #howToPlay .king {
        display: inline-block;
    }

    #howToPlay .boxed {
        color:black;
        padding: 10px 15px;
        xborder: solid 2px gray;
        text-align: left;
        margin: 10px 10px;
        background-color: white;
        border-radius: 5px;
    }


.button {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 10px 10px 10px;
    min-height: 35px;
    background-color: rgba(0,0,0,0.5);
    background-color: #254A78;
    margin: 5px 0px 5px 0px;
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;
    border-width: 0px;
    box-sizing: border-box;
}

.button-block {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 10px 10px 10px;
    min-height: 35px;
    background-color: rgba(0,0,0,0.5);
    background-color: #254A78;
    margin: 5px 0px 5px 0px;
    display: block;
    cursor: pointer;
    border-radius: 5px;
    border-width: 0px;
    box-sizing: border-box;
    width: 100%;
}

.button-block-large {
    text-decoration: none;
    color: #ffffff;
    font-size: 30px;
    padding: 10px 10px 10px 10px;
    min-height: 45px;
    background-color: rgba(0,0,0,0.5);
    background-color: #254A78;
    margin: 5px 0px 5px 0px;
    display: block;
    cursor: pointer;
    border-radius: 5px;
    border-width: 0px;
    box-sizing: border-box;
    width: 100%;
}

.smallButton {
    margin: 10px 0px 5px 0px;
    max-width: 250px;
    height: 40px;
    cursor: pointer;
    font-size: 28px;
    padding: 10px 0 0 40px;
    text-align: center;
    background-size: 300px 50px;
    text-decoration: none;
    color: #ffffff;
}

    .smallButton a {
        text-decoration: none;
        color: #ffffff;
    }

#settings {
    padding: 10px 15px 10px 15px;
    color: white;
}

    #settings label {
        width: 100%;
        margin: 5px 0px;
    }


label, legend {
    xdisplay: block;
    xmargin-bottom: .5rem;
    xfont-weight: 600;
}

input, textarea, select, fieldset {
    margin-bottom: 12px;
}

input {
    line-height: normal;
}

.u-full-width {
    width: 100%;
    box-sizing: border-box;
}

input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"], textarea, select {
    height: 45px;
    font-size: 20px;
    padding: 6px 10px;
    background-color: #fff;
    border: 0px solid #D1D1D1;
    xborder-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
    width: 100%;
}

.backButton {
    width: 48px;
    height: 48px;
    margin: 3px 30px 3px 0px;
    display: inline-block;
    overflow: hidden;
    background-repeat: no-repeat;
    background-image: url(images/BackButton.png);
}


@keyframes highlight {
    0% {
        background: yellow;
    }

    100% {
        background: none;
    }
}

.minibuttons {
    margin: 10px 0 0 0;
    text-align: center;
}

    .minibuttons a {
        display: inline-block;
        margin: 5px 4px;
    }

    .minibuttons img {
        width: 35px;
    }


    .smallButton2 {
    margin: 10px 0px 5px 0px;
    max-width: 250px;
    height: 35px;
    cursor: pointer;
    font-size: 18px;
    padding: 15px 0 0 40px;
    text-align: center;
    background-size: 300px 50px;
   margin: 10px auto;
   display:block;
}

    .smallButton2 a {
        text-decoration: none;
        color: #ffffff;
    }
    
ul {
    list-style: none;
    padding: 0px 3px;
    min-width: 260px;
    xmax-width: 320px;
    xmargin: 0px auto;
}

li {
    margin: 5px 0px 5px 0px;
    xheight: 50px;
}

    li a {
        text-decoration: none;
        color: #ffffff;
    }



    li div.title {
        font-size: 30px;
        padding: 10px 0 0 95px;
    }

    li div.description {
        padding: 6px 0 0 140px;
        font-size: 12px;
    }

    li div.badge {
        float: right;
        margin: 0px 10px;
        font-size: 10px;
    }

    .hidden{
        display:none;
    }